<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="departments chat"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Marketing Department Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col *ngIf="message.from != email" size-md="7" offset="4">
      <ion-card class="message" >
        <ion-grid>
          <ion-row>
            <ion-col> 
              <b class="username">{{ message.from}}</b><br><br>
              <span class="mes">{{message.msg}}
                <div class="date ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
              </span> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      </ion-col>
        <ion-col *ngIf="message.from == email" size="8" offset-md="1">
          <ion-card class="myMessage">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <b class="username">{{ message.from}}</b><br><br>
                  <span class="mes">{{message.msg}}
                    <div class="date ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="9" offset-md="0.5">
        <ion-textarea class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" style="background-color: white; color: black;">
        </ion-textarea>
      </ion-col>
      <ion-col size="2" style="padding-top: 8px;">
        <ion-button expand="block" color="primary" [disabled]="newMsg ==''"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
