<ion-content>
<ion-grid>
  <ion-row>
    <ion-col  size-md="10" offset-md="1">
      <ion-grid>
        <ion-row>
          <ion-col>
           <ion-card style="padding-top: 20px; padding-bottom: 20px;">
            <ion-card-title style="text-align: center; font-weight: bolder;">Rs. {{totalSalary}}</ion-card-title>
            <br>
            <ion-card-subtitle style="text-align: center;">Total Salary For Employeees</ion-card-subtitle>
           </ion-card>
          </ion-col>
          <ion-col>
           <ion-card style="padding-top: 20px; padding-bottom: 20px;">
            <ion-card-title style="text-align: center; font-weight: bolder;">{{noEmployees}}</ion-card-title>
            <br>
            <ion-card-subtitle style="text-align: center;">Total Number Of Employees </ion-card-subtitle>
           </ion-card>
          </ion-col>
          <ion-col *ngIf="status">
            <ion-card style="padding-top: 20px; padding-bottom: 20px;">
              <ion-card-title style="text-align: center; font-weight: bolder;">All Approved</ion-card-title>
              <br>
              <ion-card-subtitle style="text-align: center;">Status</ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="!status">
            <ion-card style="padding-top: 20px; padding-bottom: 20px;">
              <ion-card-title style="text-align: center; font-weight: bolder;">Not Approved</ion-card-title>
              <br>
              <ion-card-subtitle style="text-align: center;">Status</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="11" offset-md="0.5">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-searchbar (ionInput)="filteremployees($event)"></ion-searchbar>
            </ion-item> 
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-select placeholder="Departments" [(ngModel)]="department" (ionChange)="getByDepartment()" style="width: 100%;">
                <ion-select-option value="All">All</ion-select-option>
                <ion-select-option value="Marketing">Marketing</ion-select-option>
                <ion-select-option value="Production">Production</ion-select-option>
                <ion-select-option value="Research & Development">Research & Development</ion-select-option>
                <ion-select-option value="Accounting & Finance">Accounting & Finance</ion-select-option>
                <ion-select-option value="Purchasing & Customer service">Purchasing & Customer service</ion-select-option>
                <ion-select-option value="Management">Management</ion-select-option>
                <ion-select-option value="HR Management">HR Management</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-datetime displayFormat="MMM/DD/YYYY" placeholder="Filter By Approved Date" #name [(ngModel)]="selectedDate" (ionChange)="getByDate()">
              </ion-datetime>    
            </ion-item> 
            <ion-item *ngIf="selectedDate" (click)="removedate()">
              <ion-icon name="close-outline" slot="end"></ion-icon>
            </ion-item>   
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-card  *ngFor="let users of (salary | async |filter:term);">
        <ion-row> 
          <ion-col>
            <ion-item style="padding-left: 30px; padding-top:30px;">
                <ion-avatar style="height: 140px; width: 130px;">
                  <ion-img  src={{users.picture}}></ion-img>
                </ion-avatar>
            </ion-item>   
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Name: {{users.Fname}} {{users.Lname}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>E-mail: {{users.Eemail}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Department: {{users.department}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Role:  {{users.role}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Started date: {{users.sdate}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-md="2">
            <ion-item (click)="editpayment(users.userId)">
              <ion-icon name="pencil-outline"></ion-icon> 
              <ion-label>Payment Changes</ion-label>
            </ion-item> 
          </ion-col>
          <ion-col>     
            <ion-item>
              <ion-label>Salary: Rs. {{users.salary}}</ion-label>
            </ion-item> 
            <ion-item>
              <ion-label>Payment Date: {{users.paymentDate}}</ion-label>
            </ion-item>  
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Status: {{users.status}}</ion-label>
            </ion-item> 
            <ion-item>
              <ion-label>Approved Date: {{users.approvedDate}}</ion-label>
            </ion-item> 
          </ion-col>
        </ion-row>
        </ion-card>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
