<ion-content>
  <h1 style="text-align: center;">Employee Release Form</h1>
<ion-grid>
<ion-row>
  <ion-col size-md="8" offset-md="2">
    <ion-row>
      <ion-header>Details Of The Employees</ion-header>
    </ion-row>
<ion-item style="padding-top: 20px;">
    <ion-row>
      <ion-col>
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <br>
          <ion-input readonly>{{form.EFname}}</ion-input>        
      </ion-item>
    </ion-col>
    <hr>
    <hr>
      <ion-col style="padding-left: 40px;">
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <br>
          <ion-input readonly>{{form.ELname}}</ion-input>
        </ion-item>
      </ion-col>    
    </ion-row>
</ion-item>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Employee Email</ion-label>
          <br>
          <ion-input readonly>{{form.Eemail}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Department</ion-label>
          <br>
          <ion-input readonly>{{form.department}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Position</ion-label>
          <br>
          <ion-input readonly>{{form.position}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the Manager</ion-header>
      </ion-row>
      <ion-item style="padding-top: 20px;">
        <ion-row>
          <ion-col>
          <ion-item>
              <ion-label position="floating">Manager First Name</ion-label>
              <br>
              <ion-input readonly>{{form.MFname}}</ion-input>        
          </ion-item>
        </ion-col>
        <hr>
        <hr>
          <ion-col style="padding-left: 40px;">
            <ion-item>
              <ion-label position="floating">Manager Last Name</ion-label>
              <br>
              <ion-input readonly>{{form.MLname}}</ion-input>
            </ion-item>
          </ion-col>    
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Supervisor Email</ion-label>
            <br>
            <ion-input readonly>{{form.Memail}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details Of The Release</ion-header>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 20px;">
            <ion-label position="floating">Last Worked Day</ion-label>
            <br>
            <ion-input readonly>{{form.LWdate}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 20px;">
            <ion-label position="floating">Last Payed Day</ion-label>
            <br>
            <ion-input readonly>{{form.LPdate}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Reason For Release</ion-label>
            <br>
            <ion-textarea readonly>{{form.release}}</ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Comments</ion-label>
            <br>
            <ion-textarea readonly>{{form.comments}}</ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="padding-bottom: 10px;">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round" (click)="close()">Close</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
