<app-header></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-avatar>
                            <img src="../../../assets/images/graph.jpg">
                          </ion-avatar>
                        <ion-card-header>
                          <ion-card-title style="text-align: center;">Attendance</ion-card-title>
                        </ion-card-header>
                      </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-avatar>
                            <img src="../../../assets/images/chat.png">
                          </ion-avatar>
                        <ion-card-header>
                          <ion-card-title style="text-align: center;">Chat</ion-card-title>
                        </ion-card-header>
                      </ion-card>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-card>
                        <ion-avatar>
                            <img src="../../../assets/images/calendar.jpg">
                          </ion-avatar>
                        <ion-card-header>
                          <ion-card-title style="text-align: center;">Event Calendar</ion-card-title>
                        </ion-card-header>
                      </ion-card>
                </div>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
<div class="footer">
    <ion-footer [translucent]="true">
      <ion-toolbar>
        <p>footer</p>
      </ion-toolbar>
    </ion-footer>
  </div>
