<app-header-employees></app-header-employees>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="11" offset-md="0.5">
      <ion-grid>
        <ion-row>
          <ion-col>
           <ion-card style="height: 180px; width: 250px;">
            <img style="height: 100%;" src={{profile.picture}}>
           </ion-card>
           <hr>
           <ion-input type="file" (change)="upload($event)" accept="*.png.jpg"></ion-input>
           <ion-button expand="block" shape="round" (click)="imageUpload()">Change Profile Picture</ion-button>
           <br>
           <br>
           <br>
           <br>
           <ion-title>Actions</ion-title>
           <ion-card>
             <ion-card-content>
               <ion-button expand="block" shape="round" (click)="editprofilemodal()">Edit Profile</ion-button>
               <br>
               <ion-button expand="block" shape="round" (click)="passwordmodal()">Change Password</ion-button>
             </ion-card-content>
           </ion-card>
          </ion-col>
          <ion-col size-md="8" offset-md="0.5">
            <ion-card>
              <div style="padding-left: 20px; padding-bottom: 20px;">
              <ion-card-header>
                <ion-card-header style="text-align: center; font-size: x-large; font-weight: bold;">Profile Details</ion-card-header>
                <ion-card-subtitle style=" font-size: large;">General Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                   First Name: {{profile.Fname}}
                   <br>
                   <br>
                   Middle Name: {{profile.Mname}}
                   <br>
                   <br>
                   Last Name: {{profile.Lname}}
                   <br>
                   <br>
                   Date of Birth: {{profile.DOB}}
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Contact Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  Mobile Number: {{profile.phone}}
                  <br>
                  <br>
                  Home Number {{profile.Hphone}}
                  <br>
                  <br>
                  Home Address: {{profile.addressH}}
                  <br>
                  <br>
                  Personal E-mail: {{profile.Pemail}}
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Company Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Company E-mail: {{profile.Eemail}}
                <br>
                <br>
                Department: {{profile.department}}
                <br>
                <br>
                role in department: {{profile.Rdepartment}}
                <br>
                <br>
                Company Joined Date: {{profile.sdate}}
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Additional Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Emergency Contact: {{profile.Econtact}}
                <br>
                <br>
                Other Information: {{profile.Otherinformation}}
              </ion-card-content>
            </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
