<app-header></app-header>
<ion-content>

  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="ion-text-center">
      <h2>{{titlecal}}</h2>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="gobottom()">Add Event</ion-button>
    </ion-col>
  </ion-row>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" 
    (onTitleChanged)="onViewTitleChanged($event)"
    [monthviewDisplayEventTemplate]="template"
    startHour="6"
    endHour="21"
    step="30"
    startingDayWeek="1">
  </calendar>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>

  <ion-card>
    <ion-card-header tappable>
      <ion-card-title style="text-align: center;">Add New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label  position="floating">Event</ion-label>
        <ion-input type="text" [(ngModel)]="form.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="floating" >Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM DD YYYY:HH:mm" [(ngModel)]="form.startTime"></ion-datetime>
      </ion-item>
      <ion-item> 
        <ion-label  position="floating" >End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM DD YYYY:HH:mm" [(ngModel)]="form.endTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>All Day</ion-label>
        <ion-checkbox [(ngModel)]="form.allday"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addevent()" [disabled]="form.title == ''">Add Event</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>