<ion-header>
  <ion-toolbar>
    <ion-title>Select Form</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid style="padding-top: 60px;">
  <ion-row>
    <ion-col  size-md="6">
      <ion-button expand="block" shape="round" (click)="leaveRequestFormModal()">Leave Request form</ion-button>
  </ion-col>
  <ion-col  size-md="6">
    <ion-button expand="block" shape="round" (click)="returnToWorkFormModal()">Return to work form</ion-button>
  </ion-col>
  </ion-row>  
<ion-row>
  <ion-col  size-md="6">
    <ion-button expand="block" shape="round"  (click)="medicalFormModal()"> Medical form</ion-button>
  </ion-col>
  <ion-col  size-md="6">  
    <ion-button expand="block" shape="round" (click)="complainFormModal()">Complain form</ion-button>
 </ion-col>
</ion-row> 
<ion-row>
  <ion-col>  
    <ion-button expand="block" shape="round" (click)="PTORequestFormModal()"> PTO request form</ion-button>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>