.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}
 
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
}
 
.my-message {
    background: var(--ion-color-tertiary);
    color: black;
}
 
.other-message {
    background: var(--ion-color-secondary);
    color: black
}
 
.time {
    color: black;
    float: right;
    font-size: small;
}