<app-header></app-header>
<ion-content style="padding-top: 20px;">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="active-employees">
        <ion-icon name="lock-open-outline"></ion-icon>
        <ion-label>Active Employees</ion-label>
      </ion-tab-button> 
  
      <ion-tab-button tab="inactive-employees">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Inactive Employees</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>


