<ion-content>
  <h1 style="text-align: center;">Employee Review Form</h1>
<ion-grid>
<ion-row>
  <ion-col size-md="8" offset-md="2">
    <ion-row>
      <ion-header>Details of the Employees</ion-header>
    </ion-row>
<ion-item style="padding-top: 20px;">
    <ion-row>
      <ion-col>
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <br>
          <ion-input>{{form.EFname}}</ion-input>        
      </ion-item>
    </ion-col>
    <hr>
    <hr>
      <ion-col style="padding-left: 40px;">
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <br>
          <ion-input>{{form.ELname}}</ion-input>
        </ion-item>
      </ion-col>    
    </ion-row>
</ion-item>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Employee email</ion-label>
          <br>
          <ion-input>{{form.Eemail}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Department</ion-label>
          <br>
          <ion-input>{{form.department}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Position</ion-label>
          <br>
          <ion-input>{{form.position}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the Manager</ion-header>
      </ion-row>
      <ion-item style="padding-top: 20px;">
        <ion-row>
          <ion-col>
          <ion-item>
              <ion-label position="floating">Manager First Name</ion-label>
              <br>
              <ion-input>{{form.MFname}}</ion-input>        
          </ion-item>
        </ion-col>
        <hr>
        <hr>
          <ion-col style="padding-left: 40px;">
            <ion-item>
              <ion-label position="floating">Manager Last Name</ion-label>
              <br>
              <ion-input>{{form.MLname}}</ion-input>
            </ion-item>
          </ion-col>    
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the Review</ion-header>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Job Knowledge</ion-label>
            <br>
            <ion-input>{{form.job}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Work Quality</ion-label>
            <br>
            <ion-input>{{form.quality}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Attendance Puntuality</ion-label>
            <br>
            <ion-input>{{form.attendanceP}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Productivity</ion-label>
            <br>
            <ion-input>{{form.productivity}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Communicatiion/Listening Skills</ion-label>
            <br>
            <ion-input>{{form.communicationL}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Dependability</ion-label>
            <br>
            <ion-input>{{form.dependability}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Overall Rating</ion-label>
            <br>
            <ion-input>{{form.Orating}}</ion-input>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Comments</ion-label>
            <br>
            <ion-textarea>{{form.comments}}</ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="padding-bottom: 10px;">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round" (click)="close()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

