<ion-content>
  <h1 style="text-align: center;">Employee Review Form</h1>
<ion-grid>
<ion-row>
  <ion-col size-md="8" offset-md="2">
    <ion-row>
      <ion-header>Details of the Employees</ion-header>
    </ion-row>
<ion-item style="padding-top: 20px;">
    <ion-row>
      <ion-col>
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input [(ngModel)]="form.EFname"></ion-input>        
      </ion-item>
    </ion-col>
    <hr>
    <hr>
      <ion-col style="padding-left: 40px;">
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input [(ngModel)]="form.ELname"></ion-input>
        </ion-item>
      </ion-col>    
    </ion-row>
</ion-item>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Employee email</ion-label>
          <ion-input [(ngModel)]="form.Eemail"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Department</ion-label>
          <ion-input [(ngModel)]="form.department"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Position</ion-label>
          <ion-input [(ngModel)]="form.position"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the Manager</ion-header>
      </ion-row>
      <ion-item style="padding-top: 20px;">
        <ion-row>
          <ion-col>
          <ion-item>
              <ion-label position="floating">Manager First Name</ion-label>
              <ion-input [(ngModel)]="form.MFname"></ion-input>        
          </ion-item>
        </ion-col>
        <hr>
        <hr>
          <ion-col style="padding-left: 40px;">
            <ion-item>
              <ion-label position="floating">Manager Last Name</ion-label>
              <ion-input [(ngModel)]="form.MLname"></ion-input>
            </ion-item>
          </ion-col>    
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the Review</ion-header>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Job Knowledge</ion-label>
           <ion-radio-group [(ngModel)]="form.job">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Work Quality</ion-label>
           <ion-radio-group [(ngModel)]="form.quality">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Attendance Puntuality</ion-label>
           <ion-radio-group [(ngModel)]="form.attendanceP">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Productivity</ion-label>
           <ion-radio-group [(ngModel)]="form.productivity">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Communicatiion/Listening Skills</ion-label>
           <ion-radio-group [(ngModel)]="form.communicationL">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Dependability</ion-label>
           <ion-radio-group [(ngModel)]="form.dependability">
            <ion-row>
              <ion-col>
                <ion-item>
               <ion-label>Excellent</ion-label>
               <ion-radio slot="start" value="Excellent"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
               <ion-label>Good</ion-label>
               <ion-radio slot="start" value="Good"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Satisfactory</ion-label>
                  <ion-radio slot="start" value="Satisfactory"></ion-radio>
                </ion-item>
                 </ion-col>
              <ion-col>
             <ion-item>
               <ion-label>Fair</ion-label>
               <ion-radio slot="start" value="Fair"></ion-radio>
             </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Poor</ion-label>
                  <ion-radio slot="start" value="Poor"></ion-radio>
                </ion-item>
                 </ion-col>
            </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item style="padding-top: 10px;">
            <ion-label position="stacked">Overall Rating</ion-label>
           <ion-radio-group [(ngModel)]="form.Orating">
          <ion-row>
            <ion-col>
              <ion-item>
             <ion-label>Excellent</ion-label>
             <ion-radio slot="start" value="Excellent"></ion-radio>
           </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
             <ion-label>Good</ion-label>
             <ion-radio slot="start" value="Good"></ion-radio>
           </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Satisfactory</ion-label>
                <ion-radio slot="start" value="Satisfactory"></ion-radio>
              </ion-item>
               </ion-col>
            <ion-col>
           <ion-item>
             <ion-label>Fair</ion-label>
             <ion-radio slot="start" value="Fair"></ion-radio>
           </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Poor</ion-label>
                <ion-radio slot="start" value="Poor"></ion-radio>
              </ion-item>
               </ion-col>
          </ion-row>
          </ion-radio-group>
      </ion-item>
    </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Comments</ion-label>
            <ion-textarea [(ngModel)]="form.comments"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="padding-bottom: 10px;">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round" (click)="addform()">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" shape="round" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

