<app-header></app-header>
<ion-content>
  <ion-grid style="padding-top: 30px;">
    <ion-row style="text-align: center;">
        <ion-col  size-md="6" offset-md="3">  
                <ion-button expand="block" (click)="adduser()" >Add new User</ion-button>
        </ion-col>
    </ion-row>   
</ion-grid>
<ion-grid style="padding-top: 30px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-header style="padding-bottom: 15px;">HR Managers In The Organization</ion-header>
            <ion-list *ngFor="let users of (Muse | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{users.Fname}}
                       </ion-col>
                       <ion-col>
                        {{users.Eemail}}
                       </ion-col>
                       <ion-col>
                        {{users.department}}
                       </ion-col>
                       <ion-col>
                        {{users.sdate}}
                       </ion-col>
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid style="padding-top: 100px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-header style="padding-bottom: 15px;">Employees In The Organization</ion-header>
            <ion-list *ngFor="let users of (Euse | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{users.Fname}}
                       </ion-col>
                       <ion-col>
                        {{users.Eemail}}
                       </ion-col>
                       <ion-col>
                        {{users.department}}
                       </ion-col>
                       <ion-col>
                        {{users.sdate}}
                       </ion-col>
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
