<app-header></app-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="11" offset-md="0.5">
      <ion-grid>
        <ion-row>
          <ion-col>
           <ion-card>
             <ion-card-header>
               <ion-card-header>Enter the picture here</ion-card-header>
             </ion-card-header>
           </ion-card>
           <hr>
           <ion-button expand="block">Change Profile Picture</ion-button>
           <br>
           <br>
           <br>
           <br>
           <ion-title>Actions</ion-title>
           <ion-card>
             <ion-card-content>
               <ion-button expand="block">Edit Profile</ion-button>
               <br>
               <ion-button expand="block">Change Password</ion-button>
             </ion-card-content>
           </ion-card>
          </ion-col>
          <ion-col size-md="8" offset-md="0.5">
            <ion-card>
              <div style="padding-left: 20px; padding-bottom: 20px;">
              <ion-card-header>
                <ion-card-header style="text-align: center; font-size: x-large; font-weight: bold;">Profile Details</ion-card-header>
                <ion-card-subtitle style=" font-size: large;">General Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                   First Name: 
                   <br>
                   <br>
                   Middle Name: 
                   <br>
                   <br>
                   Last Name:
                   <br>
                   <br>
                   Date of Birth:
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Contact Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  Mobile Number:
                  <br>
                  <br>
                  Home Number
                  <br>
                  <br>
                  Home Address:
                  <br>
                  <br>
                  Personal E-mail:
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Company Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Company E-mail:
                <br>
                <br>
                Department:
                <br>
                <br>
                role in department:
                <br>
                <br>
                Company Joined Date:
              </ion-card-content>
              <ion-card-header>
                <ion-card-subtitle style=" font-size: large;">Additional Information</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Emergency Contact:
                <br>
                <br>
                Other Information:
              </ion-card-content>
            </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
