<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="applied all">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Applied Candidates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="short listed">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Short-Listed Candidates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="declined">
      <ion-icon name="person-remove-outline"></ion-icon>
      <ion-label>Decline Candidates</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
