<app-header></app-header>
<ion-content>
  <ion-grid style="margin-top: 150px;">
    <ion-row>
        <ion-col>
            <div>
                <ion-card>
                    <ion-card-header>
                      <ion-card-title style="text-align: center;">Marketing Department</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-card>
                    <ion-card-header>
                      <ion-card-title style="text-align: center;">Production Department</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title style="text-align: center;">Research and Development</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
      <ion-col>
        <div>
            <ion-card>
                <ion-card-header>
                  <ion-card-title style="text-align: center;">Accounting and Finance.</ion-card-title>
                </ion-card-header>
              </ion-card>
        </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title style="text-align: center;">Purchasing and customer service</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-card>
                  <ion-card-header>
                    <ion-card-title style="text-align: center;">Customer Service</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>