
.message {
    background-color: mediumspringgreen;
    margin-top: 0%;
 }

 .myMessage {
    background-color: cyan;
    margin-top: 0%;

 }
 
 .username {
     font-weight: bold;
     font-size: 80%;
 }
 
 .mes{
     font-size: 120%;
     padding-left: 5px;
 }

 .date {
    font-size: 60%;
}
 