<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="attendance-info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Attendance Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mark-attendance">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Mark Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance-report">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Attendance Records</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
