<ion-content>
  <h1 style="text-align: center;">Paid Time Off Request Form</h1>
<ion-grid>
<ion-row>
  <ion-col size-md="8" offset-md="2">
    <ion-row>
      <ion-header>Details of the Employees</ion-header>
    </ion-row>
<ion-item style="padding-top: 20px;">
    <ion-row>
      <ion-col>
      <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <br>
          <ion-input readonly>{{form.Fname}}</ion-input>        
      </ion-item>
    </ion-col>
    <hr>
    <hr>
      <ion-col>
        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <br>
            <ion-input readonly>{{form.Lname}}</ion-input>        
        </ion-item>
      </ion-col>   
    </ion-row>
</ion-item>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Email</ion-label>
          <br>
          <ion-input readonly>{{form.email}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Mobile Number</ion-label>
          <br>
          <ion-input readonly>{{form.phone}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Supervisor Name</ion-label>
          <br>
          <ion-input readonly>{{form.Sname}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-top: 10px;">
          <ion-label position="floating">Department</ion-label>
          <br>
          <ion-input readonly>{{form.department}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-header>Details of the PTO request</ion-header>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 20px;">
            <ion-label position="floating">PTO Start Date</ion-label>
            <br>
            <ion-input readonly>{{form.PTstart}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 20px;">
            <ion-label position="floating">PTO End Date</ion-label>
            <br>
            <ion-input readonly>{{form.PTend}}</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="padding-top: 10px;">
            <ion-label position="floating">Comments</ion-label>
            <br>
            <ion-textarea readonly>{{form.comments}}</ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="padding-bottom: 10px;">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round" (click) ="updateA()">Approve</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" shape="round" (click) ="updateD()">Decline</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" shape="round" (click) ="delete()">Delete</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" shape="round" (click)="close()">Close</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
