<ion-header>
  <ion-toolbar>
    <ion-title>
      About System
   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" style="padding-top: 20px;">
         <ion-label>
           This system is designed to mainly help the Human resourse manaagers to do there day to day task and also to improve
           the comunication between the employees and the managers to have a calm and effective working enviorment. 
         </ion-label>
         <br>
         <br>
      <ion-label>
          This system allows you to mark your attendance, view availabe holidays, cha with employees and much more, The 
          systems allow you to do your day to day tasks a little easier, and helps you to suggest and do reviews. 
      </ion-label>
      <br>
      <br>
      <ion-label>
        If you have any Inquaries or suggestions about the system please contact us: 
      </ion-label>
      <br>
      <ion-label>
        E-mail: hrisproject0@gmail.com
      </ion-label>
      <br>
      <ion-label>
        Phone Number: 0761506413
      </ion-label>
      <br>
      <ion-label>
        Address: Lake road, Colombo
      </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>