<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
    <ion-title>
      HRIS
    </ion-title>
    <div slot="end" style="padding-right: 20px;">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
    <div slot="end">
      <ion-icon name="log-out-outline"  style="padding-right: 10px;" size="large" (click)="signout()"></ion-icon>
    </div>  
  </ion-toolbar>
</ion-header>
