<ion-header>
  <ion-toolbar>
    <ion-title>
      Mark Attendance
   </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
          <ion-col>
            <ion-item style="padding-top: 10px;">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input placeholder="{{email}}"></ion-input>
            </ion-item>
          </ion-col>
        <ion-row>
          <ion-col>
            <ion-item style="padding-top: 10px;">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-col>
    </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="markattendance()">Mark Attendance</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="closemodal()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

