<app-header></app-header>
<ion-content>
<ion-grid style="padding-top: 30px;">
    <ion-row style="text-align: center;">
        <ion-col  size-md="6" offset-md="3">  
                <ion-button expand="block" shape="round" (click)="openModalDT()" >Add new document</ion-button>
        </ion-col>
    </ion-row>   
</ion-grid>
<ion-grid style="padding-top: 30px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-label style="padding-bottom: 15px; font-size: larger; font-weight: bold;">Documents Submited By Employees</ion-label>
            <br>
            <br>
            <ion-list *ngFor="let doc of (docsP | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{doc.Eemail}}   
                       </ion-col>
                       <ion-col>
                        {{doc.formtype}}
                       </ion-col>
                       <ion-col>
                        {{doc.sdate}}
                       </ion-col>
                       <ion-col>
                        {{doc.status}} 
                       </ion-col>
                       <ion-col>
                        <ion-item (click)="getdocumentemployee(doc.id, doc.formtype)">
                            <ion-icon name="eye-outline" slot="end"></ion-icon>
                           </ion-item>
                       </ion-col>
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid style="padding-top: 30px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-label style="padding-bottom: 15px; font-size: larger; font-weight: bold;">Documents Approved</ion-label>
            <br>
            <br>
            <ion-list *ngFor="let doc of (docsA | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{doc.Eemail}}   
                       </ion-col>
                       <ion-col>
                        {{doc.formtype}}
                       </ion-col>
                       <ion-col>
                        {{doc.sdate}}
                       </ion-col>
                       <ion-col>
                        <ion-item (click)="getdocument(doc.id, doc.formtype)">
                            <ion-icon name="eye-outline" slot="end"></ion-icon>
                           </ion-item>
                       </ion-col>
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid style="padding-top: 30px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-label style="padding-bottom: 15px; font-size: larger; font-weight: bold;">Documents Declined</ion-label>
            <br>
            <br>
            <ion-list *ngFor="let doc of (docsD | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{doc.Eemail}}   
                       </ion-col>
                       <ion-col>
                        {{doc.formtype}}
                       </ion-col>
                       <ion-col>
                        {{doc.sdate}}
                       </ion-col>
                       <ion-col>
                        <ion-item (click)="getdocument(doc.id, doc.formtype)">
                            <ion-icon name="eye-outline" slot="end"></ion-icon>
                           </ion-item>
                       </ion-col>
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid style="padding-top: 30px;">
    <ion-row>
        <ion-col size-md="10" offset-md="1">
            <ion-label style="padding-bottom: 15px; font-size: larger; font-weight: bold;">Documents Submited By Me</ion-label>
            <br>
            <br>
            <ion-list *ngFor="let doc of (doc | async)">
                <ion-item>
               <ion-grid>
                   <ion-row>
                       <ion-col>
                        {{doc.Eemail}}   
                       </ion-col>
                       <ion-col>
                        {{doc.formtype}}
                       </ion-col>
                       <ion-col>
                        {{doc.sdate}}
                       </ion-col>
                           <ion-row>
                               <ion-col>
                                <ion-item (click)="getdocument(doc.id, doc.formtype)">
                                    <ion-icon name="eye-outline" slot="end"></ion-icon>
                                </ion-item>
                            </ion-col>
                           </ion-row> 
                   </ion-row>
               </ion-grid>
               </ion-item>
               </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
