<ion-content>
<ion-grid style="margin-top: 110px;">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <form [formGroup]="loginform" (ngSubmit)="login()">
      <ion-list>
        <Div style="text-align: center;">
          <img src="../../assets/images/logo.png">
        </Div>
        <ion-item *ngIf="authError">
          <ion-label style="text-align: center; color: red">{{ authError?.message }}</ion-label>
        </ion-item>
        <ion-item style="margin-left: 60px; margin-right: 60px;">
         <ion-label position="floating">Username</ion-label>
         <ion-input type="email" formControlName="emailControl" required></ion-input>
        </ion-item>
         <div *ngIf="email.touched && email.invalid" style="margin-left: 60px; margin-right: 60px;">
          <ion-label style="color: red;" position="stacked">Please enter a valid email address</ion-label>
          <br>
         </div>
        <br>
        <ion-item style="margin-left: 60px; margin-right: 60px;">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"  formControlName="passwordControl" required [type]="showpassword ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" [name]="passwordtoggleicon" (click)="togglepassword()"></ion-icon>
         </ion-item>
         <div *ngIf="password.touched && password.invalid" style="margin-left: 60px; margin-right: 60px;">
          <ion-label style="color: red;" position="stacked">Password is required</ion-label>
          <br>
        </div>
        <div *ngIf="password.errors?.minlength && password.touched " style="margin-left: 60px; margin-right: 60px;">
          <ion-label style="color: red;" position="stacked">Password needs atleast 8 characters</ion-label>
          <br>
        </div>
         <br>
         <ion-item>
         <ion-grid>
           <Div style="margin-left: 60px;">
            <ion-radio-group formControlName="userControl" required>
           <ion-row>
             <ion-col>
               <ion-item>
              <ion-label>HR Managers</ion-label>
              <ion-radio slot="start" value="HR Managers"></ion-radio>
            </ion-item>
             </ion-col>
             <ion-col>
            <ion-item>
              <ion-label>Employees</ion-label>
              <ion-radio slot="start" value="Employees"></ion-radio>
            </ion-item>
             </ion-col>
           </ion-row>
           </ion-radio-group>
          </Div>
         </ion-grid>
        </ion-item>
        <br>
        <br>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
              <ion-button color="success" expand="block"  type="submit" [disabled]="loginform.invalid"><strong>Login</strong></ion-button>
              </ion-col>
                </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
