<app-header></app-header>
<ion-content>
  <ion-grid style="margin-top: 150px;">
    <ion-row>
        <ion-col>
            <div>
                <ion-card routerLink="marketing">
                    <ion-card-header>
                      <ion-card-title style="text-align: center;">Marketing Department Group</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-card routerLink="production">
                    <ion-card-header>
                      <ion-card-title style="text-align: center;">Production Department Group</ion-card-title>
                    </ion-card-header>
                  </ion-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <div>
              <ion-card routerLink="research" >
                  <ion-card-header >
                    <ion-card-title style="text-align: center;">Research and Development Group</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
      <ion-col>
        <div>
            <ion-card routerLink="accounting">
                <ion-card-header >
                  <ion-card-title style="text-align: center;">Accounting and Finance Group</ion-card-title>
                </ion-card-header>
              </ion-card>
        </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div>
              <ion-card routerLink="purchasing">
                  <ion-card-header >
                    <ion-card-title style="text-align: center;">Purchasing and customer service Group</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-card routerLink="managers">
                  <ion-card-header >
                    <ion-card-title style="text-align: center;">Management Group</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <div>
              <ion-card routerLink="hrmanagers">
                  <ion-card-header >
                    <ion-card-title style="text-align: center;">HR Managers Group</ion-card-title>
                  </ion-card-header>
                </ion-card>
          </div>
      </ion-col>
  </ion-row> 
  </ion-grid>
</ion-content>