<ion-app>
  <ion-menu menuId="manager" contentId="manager">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-list>
        <ion-menu-toggle>
        <ion-item routerLink="managers/profile">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>   
        </ion-menu-toggle>    
        <ion-menu-toggle>          
        <ion-item>    
          <ion-icon name="color-palette-outline" slot="start"></ion-icon>
          <ion-label>Themes </ion-label>
        </ion-item>   
        </ion-menu-toggle>   
        <ion-menu-toggle>
          <ion-item routerLink="managers/add-person">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>Add User</ion-label>
          </ion-item>   
          </ion-menu-toggle>       
        <ion-menu-toggle>
        <ion-item (click)="signout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        </ion-menu-toggle> 
      </ion-list>
      <br>
      <br>
    <ion-content>
      <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="managers/dashboard">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item>
          <ion-icon name="analytics-outline" slot="start"></ion-icon>
          <ion-label>Analytic Data</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="managers/etabs/active-employees">
          <ion-icon name="people-circle-outline" slot="start"></ion-icon>
          <ion-label>Employees</ion-label> 
        </ion-item>
      </ion-menu-toggle> 
      <ion-menu-toggle>   
        <ion-item routerLink="managers/tab/attendance-info">
          <ion-icon name="finger-print-outline" slot="start"></ion-icon>
          <ion-label>Attendance</ion-label> 
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle> 
        <ion-item routerLink="managers/departments chat">
          <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
          <ion-label>Chat</ion-label>  
        </ion-item>    
      </ion-menu-toggle>   
      <ion-menu-toggle>         
        <ion-item routerLink="managers/tabs/notices">
          <ion-icon name="alert-outline" slot="start"></ion-icon>
          <ion-label>Notices</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="managers/stabs/approved">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>Salaries & Bonuses</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="managers/documents">
          <ion-icon name="documents-outline" slot="start"></ion-icon>
          <ion-label>Documents</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="managers/policies">
          <ion-icon name="document-lock-outline" slot="start"></ion-icon>
          <ion-label>Policies</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="manager"></ion-router-outlet>
</ion-app>
