<ion-header>
  <ion-toolbar>
    <ion-title>Select a document</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid style="padding-top: 40px;">
  <ion-row>
    <ion-col size-md="6">
        <ion-button expand="block" (click)="disiplinary()">Disciplinary Form</ion-button>
    </ion-col>
    <ion-col size-md="6">  
            <ion-button expand="block" (click)="employeeReview()">Employee Review</ion-button>
    </ion-col>
  </ion-row>  
<ion-row>
  <ion-col  size-md="6">
      <ion-button expand="block" (click)="leave()">Leave Request</ion-button>
  </ion-col>
  <ion-col  size-md="6">  
          <ion-button expand="block" (click)="accident()">Accident form</ion-button>
  </ion-col>
</ion-row> 
<ion-row>
  <ion-col  size-md="6">
      <ion-button expand="block" (click)="returnwork()">Return to work</ion-button>
  </ion-col>
  <ion-col  size-md="6">  
          <ion-button expand="block" (click)="complain()">Complain form</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col  size-md="6">
      <ion-button expand="block"  (click)="medicalform()"> Medical form</ion-button>
  </ion-col>
  <ion-col  size-md="6" >  
          <ion-button expand="block" (click)="recruitment()">Recruitment form</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col  size-md="6">
      <ion-button expand="block" (click)="release()">Employee release</ion-button>
  </ion-col>
  <ion-col  size-md="6">  
          <ion-button expand="block" (click)="ptorequest()"> PTO request</ion-button>
  </ion-col>
</ion-row>  
</ion-grid>
</ion-content>