<ion-header>
  <ion-toolbar>
    <ion-title>Select a document</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid style="padding-top: 30px; padding-right: 10px;">
  <ion-row style="text-align: center;">
    <ion-col size-md="5" offset-md="1">
        <ion-button expand="block" (click)="disiplinary()">Disciplinary Form</ion-button>
    </ion-col>
    <ion-col size-md="5" offset-md="1">  
            <ion-button expand="block">Employee Review</ion-button>
    </ion-col>
  </ion-row>  
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block" (click)="leave()">Leave Request</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block" (click)="accident()">Accident form</ion-button>
  </ion-col>
</ion-row> 
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block">Return to work</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block">Complain form</ion-button>
  </ion-col>
</ion-row>
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block"> Medical form</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block">Recruitment form</ion-button>
  </ion-col>
</ion-row>
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block">Employee release</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block"> interview form</ion-button>
  </ion-col>
</ion-row>  
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block"> PTO request</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block"> Time off request</ion-button>
  </ion-col>
</ion-row> 
<ion-row style="text-align: center;">
  <ion-col  size-md="5" offset-md="1">
      <ion-button expand="block"> job satisfaction survey</ion-button>
  </ion-col>
  <ion-col  size-md="5" offset-md="1">  
          <ion-button expand="block"> Employment Contract</ion-button>
  </ion-col>
</ion-row> 
</ion-grid>
</ion-content>