<ion-header>
  <ion-toolbar>
    <ion-title>Select a document</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row style="text-align: center;">
    <ion-col  size-md="4" offset-md="1">
        <ion-button expand="block" >Documents</ion-button>
    </ion-col>
    <ion-col  size-md="4" offset-md="2">  
            <ion-button expand="block">document</ion-button>
    </ion-col>
</ion-row>  
<ion-row style="text-align: center;">
  <ion-col  size-md="4" offset-md="1">
      <ion-button expand="block">Documents</ion-button>
  </ion-col>
  <ion-col  size-md="4" offset-md="2">  
          <ion-button expand="block">document</ion-button>
  </ion-col>
</ion-row> 
<ion-row style="text-align: center;">
  <ion-col  size-md="4" offset-md="1">
      <ion-button expand="block">Documents</ion-button>
  </ion-col>
  <ion-col  size-md="4" offset-md="2">  
          <ion-button expand="block">document</ion-button>
  </ion-col>
</ion-row>  
</ion-grid>
</ion-content>